<div class="avisos">
	<% if contadorAlerta > 0 %>
   		<div class="bola" id="aviso_estourados">
   			<%= contadorAlerta %>
   		</div>
	<% else %>
	<% end %>

	<% if contadorNovos > 0 %>
   		<div class="bola1" id="aviso_novos">
   			<%= contadorNovos %>
   		</div>
	<% else %>
	<% end %> 
</div>